src/addresses.ts
node_modules
.env
coverage
coverage.json
dist
typechain

#Hardhat files
cache
artifacts

.idea/
.DS_Store
abi/
types/
.vscode/

#vim
**/.*.swp

mainnet-deploy-key-store.json

#Foundry files
out/
forge-cache
